<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- Logging file path for Log4Net -->
    <add key="LogFilePath" value="D:\Projects\WPF\Calculator\Calculator\Config\Log.xml" />
  </appSettings>
</configuration>